@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.Skater.Progress.SkaterProgressViewModel>

@{
    Layout = "_PageViewModelLayout";
}

@if (Model.Content.CheckPointsReached != null && Model.Content.CheckPointsReached.Any())
{
    var isLeft = false;
    <div class="timeline">
        <div class="timeline-container-header">
            <div class="timeline-content-header card border-allin-green">
                <h2 class="card-header bg-allin-green text-dark">Distance Travelled</h2>
                <p class="card-body">You have skated @Model.Content.MilesSkated.ToString("F2") of your goal of 127.5 miles.</p>
            </div>
        </div>

        @foreach (var checkPoint in Model.Content.CheckPointsReached)
        {
            isLeft = !isLeft;
            var alignmentClass = isLeft ? "timeline-container--left" : "timeline-container--right";
            <div class="timeline-container @alignmentClass">
                <div class="timeline-content card border-allin-green">
                    <h3 class="card-header text-dark bg-allin-green">@checkPoint.Title</h3>
                    @if (!string.IsNullOrWhiteSpace(checkPoint.DigitalBadge))
                    {
                        <img src="@checkPoint.DigitalBadge" class="img-fluid timeline-badge" alt="@checkPoint.Title" />
                    }
                    <div class="card-body">
                        <p>@checkPoint.Distance.ToString("F2") miles</p>
                        <p>@checkPoint.Description</p>
                    </div>
                    <div class="card-footer text-dark bg-allin-green">
                        <p>Links:</p>
                        <ul>
                            @if (!string.IsNullOrWhiteSpace(checkPoint.DigitalBadge))
                            {
                                <li><a href="@checkPoint.DigitalBadge" download="@checkPoint.DigitalBadgeName" class="timeline-link">Download the Checkpoint Badge</a></li>
                            }
                            <li><a href="http://www.google.com/maps/place/@checkPoint.Latitude,@checkPoint.Longitude?zoom=1" target="_blank" class="timeline-link">See it on the Map</a></li>
                            @if (!string.IsNullOrWhiteSpace(checkPoint.Url))
                            {
                                <li><a href="@checkPoint.Url" target="_blank" class="timeline-link">Find out more</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="timeline-container-header">
            <div class="timeline-content-header card border-allin-green">
                <h3 class="card-header text-dark bg-allin-green">@Model.Content.NextCheckPoint.Title</h3>
                @if (!string.IsNullOrWhiteSpace(Model.Content.NextCheckPoint.DigitalBadge) && string.IsNullOrWhiteSpace(Model.Content.NextCheckPoint.FinisherDigitalBadge))
                {
                    <img src="@Model.Content.NextCheckPoint.DigitalBadge" class="img-fluid timeline-badge" alt="@Model.Content.NextCheckPoint.Title" />
                }
                @if (!string.IsNullOrWhiteSpace(Model.Content.NextCheckPoint.DigitalBadge) && !string.IsNullOrWhiteSpace(Model.Content.NextCheckPoint.FinisherDigitalBadge))
                {
                    <div id="digitalBadgeCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#digitalBadgeCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#digitalBadgeCarousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="@Model.Content.NextCheckPoint.DigitalBadge" class="d-block w-100 timeline-badge" alt="@Model.Content.NextCheckPoint.Title">
                            </div>
                            <div class="carousel-item">
                                <img src="@Model.Content.NextCheckPoint.FinisherDigitalBadge" class="d-block w-100 timeline-badge" alt="Finisher's Badge">
                            </div>
                        </div>
                    </div>
                }
                <div class="card-body">
                    @if (Model.Content.NextCheckPoint.Distance != 0)
                    {
                        <p>@Model.Content.NextCheckPoint.Distance.ToString("F2") miles</p>
                    }
                    <p>@Model.Content.NextCheckPoint.Description</p>
                </div>
                <div class="card-footer text-dark bg-allin-green">
                    <p>Links:</p>
                    <ul>
                        @if (!string.IsNullOrWhiteSpace(Model.Content.NextCheckPoint.DigitalBadge))
                        {
                            <li><a href="@Model.Content.NextCheckPoint.DigitalBadge" download="@Model.Content.NextCheckPoint.DigitalBadgeName" class="timeline-link">Download the Checkpoint Badge</a></li>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Content.NextCheckPoint.FinisherDigitalBadge))
                        {
                            <li><a href="@Model.Content.NextCheckPoint.FinisherDigitalBadge" download="@Model.Content.NextCheckPoint.FinisherDigitalBadgeName" class="timeline-link">Download the Finisher Badge</a></li>
                        }
                        <li><a href="http://www.google.com/maps/place/@Model.Content.NextCheckPoint.Latitude,@Model.Content.NextCheckPoint.Longitude?zoom=1" target="_blank" class="timeline-link">See it on the Map</a></li>
                        @if (!string.IsNullOrWhiteSpace(Model.Content.NextCheckPoint.Url))
                        {
                            <li><a href="@Model.Content.NextCheckPoint.Url" target="_blank" class="timeline-link">Find out more</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
