@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.Skater.Progress.SkaterProgressViewModel>

@{
    Layout = "_PageViewModelLayout";
}

@if (Model.Content.CheckPointsReached != null && Model.Content.CheckPointsReached.Any())
{
    var isLeft = false;
    <div class="timeline">
        <div class="timeline-container-header">
            <div class="timeline-content-header">
                <h2>Distance Travelled</h2>
                <p>You have skated @Model.Content.MilesSkated.ToString("F2") of the required 127.50 miles.</p>
            </div>
        </div>

        @foreach (var checkPoint in Model.Content.CheckPointsReached)
        {
            isLeft = !isLeft;
            var alignmentClass = isLeft ? "timeline-container--left" : "timeline-container--right";
            <div class="timeline-container @alignmentClass">
                <div class="timeline-content">
                    <h2>@checkPoint.Title</h2>
                    @if (!string.IsNullOrWhiteSpace(checkPoint.Image))
                    {
                        <div class="timeline-image" style="background-image: url('@checkPoint.Image');">
                            @if (!string.IsNullOrWhiteSpace(checkPoint.ImageAlt))
                            {
                                <em class="timeline-image-description">@checkPoint.ImageAlt</em>
                            }
                        </div>
                    }
                    <p>@checkPoint.Distance.ToString("F2") miles</p>
                    <p>@checkPoint.Description</p>
                    <p>
                        Links:
                        <a href="http://www.google.com/maps/place/@checkPoint.Latitude,@checkPoint.Longitude?zoom=1" target="_blank" class="timeline-link">Map</a>
                        @if (!string.IsNullOrWhiteSpace(checkPoint.Url))
                        {
                            <a href="@checkPoint.Url" target="_blank" class="timeline-link">Website</a>
                        }
                    </p>

                </div>
            </div>
        }

        <div class="timeline-container-header">
            <div class="timeline-content-header">
                <h2>@Model.Content.NextCheckPoint.Title</h2>
                @if (Model.Content.NextCheckPoint.Distance != 0)
                {
                    <p>@Model.Content.NextCheckPoint.Distance.ToString("F2") miles</p>
                }
                <p>@Model.Content.NextCheckPoint.Description</p>
                <p>
                    Links:
                    <a href="http://www.google.com/maps/place/@Model.Content.NextCheckPoint.Latitude,@Model.Content.NextCheckPoint.Longitude?zoom=1" target="_blank" class="timeline-link">Map</a>
                    @if (!string.IsNullOrWhiteSpace(Model.Content.NextCheckPoint.Url))
                    {
                        <a href="@Model.Content.NextCheckPoint.Url" target="_blank" class="timeline-link">Website</a>
                    }
                </p>
            </div>
        </div>
    </div>
}
