@model AllInSkateChallenge.Features.Skater.Progress.SkaterProgressViewModel

<div class="text-center">
    <h1>@Model.Title</h1>
</div>

@if (Model.CheckPointsReached != null && Model.CheckPointsReached.Any())
{
    var isLeft = false;
    <div class="timeline">
        <div class="timeline-container-header">
            <div class="timeline-content-header">
                <h2>Distance Travelled</h2>
                <p>You have skated @Model.MilesSkated.ToString("F2") of the required 127.50 miles.</p>
            </div>
        </div>

        @foreach (var checkPoint in Model.CheckPointsReached)
        {
            isLeft = !isLeft;
            var alignmentClass = isLeft ? "timeline-container--left" : "timeline-container--right";
            <div class="timeline-container @alignmentClass">
                <div class="timeline-content">
                    <h2>@checkPoint.Title</h2>
                    <p>@checkPoint.Distance.ToString("F2") miles</p>
                    <p>@checkPoint.Description</p>
                    <p>
                        Links:
                        <a href="http://www.google.com/maps/place/@checkPoint.Latitude,@checkPoint.Longitude?zoom=1" target="_blank" class="timeline-link">Map</a>
                        @if (!string.IsNullOrWhiteSpace(checkPoint.Url))
                        {
                            <a href="@checkPoint.Url" target="_blank" class="timeline-link">Website</a>
                        }
                    </p>
                    
                </div>
            </div>
        }

        <div class="timeline-container-header">
            <div class="timeline-content-header">
                <h2>@Model.NextCheckPoint.Title</h2>
                @if (Model.NextCheckPoint.Distance != 0)
                {
                    <p>@Model.NextCheckPoint.Distance.ToString("F2") miles</p>
                }
                <p>@Model.NextCheckPoint.Description</p>
                <p>
                    Links:
                    <a href="http://www.google.com/maps/place/@Model.NextCheckPoint.Latitude,@Model.NextCheckPoint.Longitude?zoom=1" target="_blank" class="timeline-link">Map</a>
                    @if (!string.IsNullOrWhiteSpace(Model.NextCheckPoint.Url))
                    {
                        <a href="@Model.NextCheckPoint.Url" target="_blank" class="timeline-link">Website</a>
                    }
                </p>
            </div>
        </div>
    </div>
}
