@model AllInSkateChallenge.Features.Skater.StravaImport.StravaImportViewModel

<div class="text-center">
    <h1>Your Strava Activities</h1>
</div>

<div class="alert alert-success alert-dismissible fade show" role="alert" style="display:none;">
    <strong>Awesome!</strong> Your strava activity has been imported. Why not check out <a asp-controller="SkaterProgress" asp-action="Progress" class="alert-link">Your Progress</a> now?
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
    <strong>Oh No!</strong> We were unable to import this activity. If the import continues to fail, please let us know.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Activity Type</th>
            <th scope="col">Started</th>
            <th scope="col">Miles</th>
            <th scope="col">Imported</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model.Activities)
        {
            <tr data-activity-id="@activity.ActivityId">
                <td class="align-middle">@activity.ActivityType</td>
                <td class="align-middle">@activity.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="align-middle">@activity.Miles.ToString("F2") miles</td>
                <td class="align-middle"><span class="js-import-strava-state" data-activity-id="@activity.ActivityId">@(activity.IsImported ? "Yes" : "No")</span></td>
                <td class="align-middle js-action-delete-column">
                    @if (!activity.IsImported)
                    {
                        <button type="button" class="btn btn-primary js-import-strava" data-activity-id="@activity.ActivityId" data-start-date="@activity.StartDate.ToString("O")" data-miles="@activity.Miles">Import</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>