@model AllInSkateChallenge.Features.Skater.StravaImport.StravaImportViewModel

<div class="text-center">
    <h1>Your Strava Activities</h1>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Activity Type</th>
            <th scope="col">Started</th>
            <th scope="col">Miles</th>
            <th scope="col">Imported</th>
            <th scope="col" class="js-action-delete-column">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model.Activities)
        {
            <tr data-activity-id="@activity.ActivityId">
                <td class="align-middle">@activity.ActivityType</td>
                <td class="align-middle">@activity.StartDate.ToString("dd/MM/yyyy HH:mm")</td>
                <td class="align-middle">@activity.Miles.ToString("F2") miles</td>
                <td class="align-middle">@(activity.IsImported ? "Yes" : "No")</td>
                <td class="align-middle js-action-delete-column">
                    @if (!activity.IsImported)
                    {
                        <button type="button" class="btn btn-primary js-import-strava" data-activity-id="@activity.ActivityId" data-start-date="@activity.StartDate" data-miles="@activity.Miles">Import</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>