@model AllInSkateChallenge.Features.Administration.UserList.AdminUserListQueryResponse

<div class="text-center">
    <h1>User Administration</h1>
</div>
<p>This page allows the administrator to either mark a skater as having page ALL IN or to delete the Skater.</p>

<form asp-controller="UserAdministration" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input name="searchText" type="text" class="form-control" placeholder="Skater's Name or Email" aria-label="Skater's Name or Email" aria-describedby="search-button" value="@Model.SearchText">
        <select name="sortOrder" asp-items="@Model.SortOrders" class="form-control" aria-label="Sort Order" aria-describedby="search-button"></select>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="search-button">Search</button>
        </div>
    </div>
</form>

<div class="alert alert-success fade show" role="alert" style="display:none;">
    User <strong class="js-delete-user-success--name"></strong> has been deleted.
</div>

<div class="alert alert-danger fade show" role="alert" style="display:none;">
    We were unable to delete user <strong class="js-delete-user-failure--name"></strong>.
</div>

<table class="table table-striped">
    <thead>
        <tr class="thead-dark">
            <th scope="col">Skater Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Registered</th>
            <th scope="col">Paid?</th>
            <th scope="col">Strava?</th>
            <th scope="col">Activities</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr data-user-id="@user.Id">
                <td>@user.SkaterName @(user.IsAdmin ? " (Admin)" : "")</td>
                <td>
                    @user.Email
                    @if (!user.EmailConfirmed)
                    {
                        <br /><span class="text-danger">(Not Verified)</span>
                    }
                <td>@user.DateRegistered.ToString("dd/MM/yyyy")</td>
                <td>@(user.HasPaid ? "Yes" : "No")</td>
                <td>@(user.IsStravaAccount ? "Yes" : "No")</td>
                <td>@user.NoOfActivities</td>
                <td>
                    @if (!user.HasPaid)
                    {
                        <button type="button" class="btn btn-primary btn-sm js-toggle-user-paid-status" data-user-id="@user.Id" data-user-name="@user.SkaterName" data-has-paid="@user.HasPaid">Set as Paid</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary btn-sm js-toggle-user-paid-status" data-user-id="@user.Id" data-user-name="@user.SkaterName" data-has-paid="@user.HasPaid">Set as UnPaid</button>
                    }
                    @if (!user.IsAdmin)
                    {
                        <button type="button" class="btn btn-danger btn-sm js-delete-user" data-user-id="@user.Id" data-user-name="@user.SkaterName">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page Navigation">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="UserAdministration" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" asp-route-searchText="@Model.SearchText">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }
        @for (var pageNo = 1; pageNo <= Model.MaxPages; pageNo++)
        {
            <li class="page-item @(pageNo.Equals(Model.CurrentPage) ? "active" : "")">
                <a class="page-link" asp-controller="UserAdministration" asp-action="Index" asp-route-page="@pageNo" asp-route-searchText="@Model.SearchText">@pageNo</a>
            </li>
        }
        @if (Model.CurrentPage < Model.MaxPages)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="UserAdministration" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" asp-route-searchText="@Model.SearchText">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user: <span class="js-delete-user--name"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger js-confirm-delete-user">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".js-delete-user").click(function (event) {
                $(".js-confirm-delete-user").data("user-id", ($(event.target).data("user-id")));
                $(".js-delete-user--name").html($(event.target).data("user-name"))
                $("#deleteUserModal").modal({ keyboard: true, focus: true });
            });

            $(".js-confirm-delete-user").click(function (event) {
                var rowSelector = "tr[data-user-id='" + $(event.target).data("user-id") + "']";
                $.post("/UserAdministration/delete", { "userId": $(event.target).data("user-id") })
                    .done(function () {
                        $(".alert.alert-success").html("<strong>" + $(".js-delete-user--name").html() + "</strong> has been deleted.");
                        $(rowSelector).remove();
                        $("#deleteUserModal").modal('hide');
                        $(".alert.alert-danger").hide();
                        $(".alert.alert-success").show();
                    })
                    .fail(function () {
                        $(".alert.alert-danger").html("Failed to delete <strong>" + $(".js-delete-user--name").html() + "</strong>.");
                        $(".js-delete-user-failure--name").html($(".js-delete-user--name").html())
                        $("#deleteUserModal").modal('hide');
                        $(".alert.alert-success").hide();
                        $(".alert.alert-danger").show();
                    });
            });

            $(".js-toggle-user-paid-status").click(function (event) {
                var rowSelector = "tr[data-user-id='" + $(event.target).data("user-id") + "']";
                var hasPaid = $.parseJSON($(event.target).data("has-paid").toLowerCase());
                var toggled = !hasPaid;

                $.post("/UserAdministration/update", { "userId": $(event.target).data("user-id"), "hasPaid": toggled })
                    .done(function () {
                        $(".alert.alert-success").html("<strong>" + $(event.target).data("user-name") + "</strong> has been updated.");
                        $(".alert.alert-danger").hide();
                        $(".alert.alert-success").show();
                        $(event.target).data("has-paid", toggled.toString());
                        $(event.target).removeClass((toggled ? "btn-primary" : "btn-secondary"));
                        $(event.target).addClass((toggled ? "btn-secondary" : "btn-primary"));
                        $(event.target).html((toggled ? "Set as UnPaid" : "Set as Paid"));
                        $(rowSelector).children().eq(4).html((toggled ? "Yes" : "No"));
                    })
                    .fail(function () {
                        $(".alert.alert-danger").html("Failed to update <strong>" + $(event.target).data("user-name") + "</strong>.");
                        $(".alert.alert-success").hide();
                        $(".alert.alert-danger").show();
                    });
            });
        });
    </script>
}
