@using AllInSkateChallenge.Features.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser userDetails = null;
    if (SignInManager.IsSignedIn(User))
    {
        userDetails = await UserManager.GetUserAsync(User);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Roller Girl Gang Virtual Skate Marathon</title>
    <meta name="description" content="The Roller Girl Gang challenges you to join our virtual skate around the UK (1500km)!">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta name="robots" content="noindex, nofollow" />

    <!-- FaceBook & Twitter Sharing Tags -->
    <meta property="og:title" content="Roller Girl Gang Virtual Skate Marathon">
    <meta property="og:description" content="The Roller Girl Gang challenges you to join our virtual skate around the UK (1500km)!">
    <meta property="og:image" content="/rggeventtwo/images/banner-desktop.png">
    <meta property="og:url" content="https://rggskatemarathon.azurewebsites.net/">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="mb-0">
    <vc:header-menu user="@userDetails"></vc:header-menu>

    <div class="container mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <vc:footer-menu user="@userDetails"></vc:footer-menu>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
