@model AllInSkateChallenge.Features.Framework.Models.IPageViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.PageTitle - Roller Girl Gang Skate Challenge</title>
    <meta name="description" content="Roller Girl Gang challenges you to join our virtual skate along the Leeds-Liverpool canal (127.5 miles)!">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @if (Model.IsNoIndexPage)
    {
        <meta name="robots" content="noindex, nofollow" />
    }

    <!-- FaceBook & Twitter Sharing Tags -->
    <meta property="og:title" content="ALL IN Leeds-Liverpool Skate Challenge">
    <meta property="og:description" content="ALL IN challenges you to join our virtual skate along the Leeds-Liverpool canal (127.5 miles)!">
    <meta property="og:image" content="https://allinskatechallenge.azurewebsites.net/images/AllInSkateChallengeBanner2.png">
    <meta property="og:url" content="https://allinskatechallenge.azurewebsites.net/">
    <meta name="twitter:card" content="summary_large_image">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="mb-0">
    <vc:header-menu user="@Model.CurrentUser"></vc:header-menu>

    <div class="container mt-3">
        <main role="main" class="pb-3">
            @if (!string.IsNullOrWhiteSpace(Model.DisplayPageTitle))
            {
                <div class="row">
                    <div class="col-xl-12">
                        <div class="text-center">
                            <h1 class="display-4">@Model.DisplayPageTitle</h1>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.IntroductoryText))
                        {
                            <p>@Model.IntroductoryText</p>
                        }
                    </div>
                </div>
            }

@*
            @if (Model.IsRegistrationOver)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Please note that this event is coming to an end. Registration has now closed and existing skaters have until the 31st December 2021 to complete their challenge.
                </div>
            }
            else
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Please note that this event is coming to an end. Registration will end on 21st November 2021 and skaters have until the 31st December 2021 to complete their challenge.
                </div>
            }
*@

            @if (Model.DisplayStravaNotification)
            {
                <div class="row js-strava-alert-banner">
                    <div class="col-xl-12">
                        <div class="alert alert-primary" role="alert">
                            Strava has notified us that you have a new activity, check out the <a asp-controller="StravaImport" asp-action="Index" class="alert-link">Strava Import</a> page now.
                        </div>
                    </div>
                </div>
            }
            @RenderBody()
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mt-3 mb-3 border-allin-green">
                        <h5 class="card-header bg-allin-green text-dark">Thank you to our sponsors</h5>
                        <div class="card-body text-center">
                            <img src="~/images/SkateEverywhereBanner.png" class="img-fluid" alt="Skate Everywhere Project Banner" />
                            <a href="https://skateeverywhereproject.com/" class="btn btn-primary btn-lg mt-3" target="_blank" rel="noopener">Visit the Shop</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mt-3 mb-3 border-allin-green">
                        <h5 class="card-header bg-allin-green text-dark">Thank you to our supporters</h5>
                        <div class="card-body text-center">
                            <div class="supporter-container text-center">
                                <a href="https://www.etsy.com/uk/shop/DerpyPrints" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/DerpyPrintsLogo_small.jpg" class="supporter-container-logo" alt="Derpy Prints" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://www.facebook.com/gizmosapexdesigns/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/GizmosApexDesigns_small.jpg" class="supporter-container-logo" alt="Gizmos Apex Designs" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://www.hiveskatehub.uk" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/HiveLogo_small.jpg" class="supporter-container-logo" alt="Hive Skate Hub" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://nhrollerderby.com/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/NewHampshireRollerDerby_small.jpg" class="supporter-container-logo" alt="New Hampshire Roller Derby" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://www.rainycityrollerderby.com" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/RainyCityRollerDerby_small.png" class="supporter-container-logo" alt="Rainy City Roller Derby" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://www.facebook.com/RollerDerbyGiftsandMerch/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/RollerDerbyGiftsAndMerchUk.jpg" class="supporter-container-logo" alt="Roller Derby Gifts & Merch UK" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://www.facebook.com/rollerdirtysoaps/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/RollerDirtySoaps_small.jpg" class="supporter-container-logo" alt="Roller Dirty Soaps" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://shop.rollerfit.com.au/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/RollerFit_small.jpg" class="supporter-container-logo" alt="Rollerfit" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://www.rollergirlgang.co.uk/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/RollerGirlGang_small.jpg" class="supporter-container-logo" alt="Roller Girl Gang" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://www.etsy.com/shop/sewtara/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/SewTara_small.jpg" class="supporter-container-logo" alt="Sew Tara" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://www.etsy.com/uk/shop/SewQueerBunting" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/SewQueer_small.jpg" class="supporter-container-logo" alt="Sew Queer" width="200" height="200" />
                                </a>
                            </div>
                            <div class="supporter-container text-center">
                                <a href="https://tricityrd.com/" target="_blank" rel="noopener noreferrer">
                                    <img src="~/images/TriCityRollerDerby_small.jpg" class="supporter-container-logo" alt="Tri-City Roller Derby" width="200" height="200" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <vc:footer-menu user="@Model.CurrentUser"></vc:footer-menu>

    <div class="side-social-panel">
        <a href="https://www.facebook.com/RollerGirlGang/" title="FaceBook" aria-label="FaceBook" target="_blank" rel="noopener noreferrer"><img src="~/images/icon-facebook.png" alt="FaceBook" class="side-social-panel--icon" /></a>
        <a href="https://www.instagram.com/roller_girl_gang/" title="Instagram" aria-label="Instagram" target="_blank" rel="noopener noreferrer"><img src="~/images/icon-instagram.png" alt="Instagram" class="side-social-panel--icon" /></a>
    </div>

    <div id="stravaImportModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-allin-green">
                <div class="modal-header bg-allin-green text-dark">
                    <h5 class="modal-title">Strava Import</h5>
                    <button type="button" class="close js-strava-modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body border-allin-green js-strava-modal-body">
                    <p>We are processing your latest strava events, please wait...</p>
                </div>
                <div class="modal-footer border-allin-green">
                    <button type="button" class="btn btn-primary js-strava-modal-close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    @if (Model.DisplayStravaNotification)
    {
        <script>
            $(document).ready(function () { processStravaUpdates(); });
        </script>
    }
</body>
</html>
