@page
@using AllInSkateChallenge.Features.Strava;
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    var hasExternalLogins = (Model.ExternalLogins?.Count ?? 0) > 0;
}

<div class="row">
    <div class="col-xl-12">
        <div class="text-center">
            <h1 class="display-4">Log In</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-deck col-12">
        <div class="card border-allin-green">
            <div class="card-header bg-allin-green text-dark">Log in with your email address</div>
            <div class="card-body">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>

        @if (hasExternalLogins)
        {
            foreach (var provider in Model.ExternalLogins)
            {
                <div class="card border-allin-green">
                    <div class="card-header bg-allin-green text-dark">Log in with @provider.Name</div>
                    <div class="card-body">
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            @if (provider.Name.Equals(StravaConstants.ProviderName, System.StringComparison.CurrentCultureIgnoreCase))
                            {
                                <p class="card-text">If you are prompted to give the application access to Strava, then ensure that you tick options to allow the application to read activity data if you want to import your activities.</p>
                                <p class="card-text">If you are using third party authentication to access Strava, then strava will pass this authentication request onto that third party provider.</p>
                                <button type="submit" class="btn-strava" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"></button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </form>
                    </div>
                </div>
            }
        }

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
