@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var hasExternalLogins = (Model.ExternalLogins?.Count ?? 0) == 0;
}

<div class="row">
    <div class="col-xl-12">
        <div class="text-center">
            <h1>Register for the ALL IN Skate Challenge</h1>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="card-deck col-xl-12">
        <div class="card">
            <div class="card-header">Create a new account</div>
            <div class="card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="form-group">
                        <label asp-for="Input.SkaterName"></label>
                        <input asp-for="Input.SkaterName" class="form-control" />
                        <span asp-validation-for="Input.SkaterName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="align-middle">
                            <input asp-for="Input.AcceptProgressNotifications" style="margin-right: 0.5em;" />Send me emails about my progress in the ALL IN Skate Challenge.
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="align-middle">
                            <input asp-for="Input.AcceptTermsAndConditions" style="margin-right: 0.5em;" /> I agree to the <a asp-controller="EventDetails" asp-action="TermsAndConditions" target="_blank">Terms & Conditions</a> of this event.
                        </label>
                        <span asp-validation-for="Input.AcceptTermsAndConditions" class="text-danger" style="display:block;"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
        @foreach (var provider in Model.ExternalLogins)
        {
            <div class="card">
                <div class="card-header">Register with @provider.Name</div>
                <div class="card-body">
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        @if (provider.Name.Equals("strava", System.StringComparison.CurrentCultureIgnoreCase))
                        {
                            <p class="card-text">When you are prompted to give the application access to Strava, ensure that you tick options to allow the application to read activity data if you want to import your skate activities.</p>
                            <p class="card-text">If you are using third party authentication to access Strava, then strava will pass this authentication request onto that third party provider.</p>
                            <button type="submit" class="btn-strava" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"></button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </form>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
