@page
@using AllInSkateChallenge.Features.Strava;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var hasExternalLogins = (Model.ExternalLogins?.Count ?? 0) == 0;
}

<div class="row">
    <div class="col-xl-12">
        <div class="text-center">
            <h1>Register for the Roller Girl Gang Virtual Skate Marathon</h1>
        </div>
    </div>
</div>

@if (Model.IsRegistrationOver)
{
    <div class="card mt-3 mb-3 border-allin-green">
        <h5 class="card-header bg-allin-green">Event Registration Has Ended</h5>
        <div class="card-body">
            <p class="card-text">Please note that this event started on 11th November 2020.  Event registration has now ended as of 21st November 2021.</p>
            <p class="card-text">Existing skaters have until the 31st December 2021 to complete their challenge.</p>
        </div>
    </div>
}
else
{
@*
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Please note that this event is coming to an end. Registration will end on 21st November 2021 and skaters have until the 31st December 2021 to complete their challenge.
    </div>
*@
    <div class="row mt-3">
        <div class="card-deck col-xl-12">
            <div class="card border-allin-green">
                <div class="card-header bg-allin-green text-dark">Create a new account</div>
                <div class="card-body">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.SkaterName"></label>
                            <input asp-for="Input.SkaterName" class="form-control" />
                            <span asp-validation-for="Input.SkaterName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        @if (Model.IsTeamEvent)
                        {
                            <input asp-for="Input.Target" type="hidden" />
                        }
                        else
                        {
                            <div class="form-group">
                                <label asp-for="Input.Target"></label>
                                <select asp-for="Input.Target" asp-items="Model.SkateTargets" class="form-control"></select>
                                <span asp-validation-for="Input.Target" class="text-danger"></span>
                            </div>
                        }
                        <div class="form-group">
                            <label class="align-middle">
                                <input asp-for="Input.AcceptProgressNotifications" style="margin-right: 0.5em;" />Send me emails about my progress in the Roller Girl Gang Virtual Skate Marathon.
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="align-middle">
                                <input asp-for="Input.AcceptTermsAndConditions" style="margin-right: 0.5em;" /> I agree to the <a asp-controller="EventDetails" asp-action="TermsAndConditions" target="_blank">Terms & Conditions</a> of this event.
                            </label>
                            <span asp-validation-for="Input.AcceptTermsAndConditions" class="text-danger" style="display:block;"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
            @foreach (var provider in Model.ExternalLogins)
            {
                <div class="card border-allin-green">
                    <div class="card-header bg-allin-green text-dark">Register with @provider.Name</div>
                    <div class="card-body">
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            @if (provider.Name.Equals(StravaConstants.ProviderName, System.StringComparison.CurrentCultureIgnoreCase))
                            {
                                <p class="card-text">When you are prompted to give the application access to Strava, ensure that you tick options to allow the application to read activity data if you want to import your skate activities.</p>
                                <p class="card-text">If you are using third party authentication to access Strava, then strava will pass this authentication request onto that third party provider.</p>
                                <button type="submit" class="btn-strava" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"></button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
