@model AllInSkateChallenge.Features.Activities.SkaterProgressEmailViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Your Progress</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0 0 10px 0;">
    <img src="@Model.LogoUrl" alt="ALL IN Logo" style="width: 100%;" />
    <div style="width: 90%; padding-right: 5%; padding-left: 5%; margin-right: auto; margin-left: auto; text-align: center;">
        <h1>Congratulations @Model.Skater.SkaterName! you reached a new milestone on your Leeds Liverpool canal Skate Challenge!</h1>
    </div>
    <div style="width: 80%; padding-top: 10px; padding-bottom: 10px; padding-right: 5%; padding-left: 5%; margin-left: 5%; margin-right: 5%; margin-bottom: 10px; border-radius: 10px; background-color: #8ABC2D;">
        <h2>@Model.CheckPoint.Title</h2>
        <p>@Model.CheckPoint.Description</p>
        @if (!string.IsNullOrWhiteSpace(Model.CheckPoint.Image))
        {
            <img src="@Model.CheckPoint.Image" alt="@Model.CheckPoint.Title" style="width: 100%;" />
        }
        <p>Milestone Distance: @Model.CheckPoint.Distance.ToString("F1") miles</p>
        <p>
            Links:
            <a href="http://www.google.com/maps/place/@Model.CheckPoint.Latitude,@Model.CheckPoint.Longitude?zoom=1" target="_blank">Milestone in Google Maps</a>
            @if (!string.IsNullOrWhiteSpace(Model.CheckPoint.Url))
            {
                <a href="@Model.CheckPoint.Url" target="_blank">Milestone Website</a>
            }
        </p>
    </div>
    <div style="width: 80%; padding-top: 10px; padding-bottom: 10px; padding-right: 5%; padding-left: 5%; margin-left: 5%; margin-right: 5%; margin-bottom: 10px; border-radius: 10px; background-color: #8ABC2D;">
        <h2>Your Journey to Date</h2>
        <p>You have skated a total distance of @Model.TotalMiles.ToString("F1") of the required 127.5 miles required to skate the entire length of the Leeds Liverpool canal.</p>
        @if (Model.TotalMilesRemaining > 0)
        {
            <p>This means that there is total of @Model.TotalMilesRemaining.ToString("F1") miles remaining on your journey from Leeds to Liverpool. If this distance feels too great, perhaps you could think about the distance remaining to your next milestone instead?</p>
        }
        else
        {
            <p>This means you have totally smashed your journey! Well Done!</p>
        }
    </div>
    @if (Model.NextCheckPoint != null)
    {
        <div style="width: 80%; padding-top: 10px; padding-bottom: 10px; padding-right: 5%; padding-left: 5%; margin-left: 5%; margin-right: 5%; margin-bottom: 10px; border-radius: 10px; background-color: #8ABC2D;">
            <h2>Your Next Milestone</h2>
            <p>Your next milestone is at @Model.NextCheckPoint.Title, you need to skate a further @Model.NextCheckPointMilesRemaining.ToString("F1") miles to reach this milestone.  You can do this!</p>
        </div>
    }
</body>
</html>