@using AllInSkateChallenge.Features.Data.Static;
@model AllInSkateChallenge.Features.Activities.SkaterProgressEmailViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Your Progress</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; margin: 0; background-color: #9d5feb; padding: 10px;">
    <center>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
            <img src="@Model.LogoUrl" alt="Roller Girl Gang Logo" style="width: 100%; max-width: 600px; height: auto;" />
        </div>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
            <h1>Congratulations @Model.Skater.SkaterName! You've just hit another milestone!!!</h1>
        </div>
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
            <h2>@Model.CheckPoint.Title</h2>
            <p style="text-align: left;">@Model.CheckPoint.Description</p>
            @if (!string.IsNullOrWhiteSpace(Model.CheckPoint.Image))
            {
                <img src="@Model.CheckPoint.Image" alt="@Model.CheckPoint.Title" style="width: 100%; max-width: 600px; height: auto;" />
            }
            <p style="text-align: left;">Milestone Distance: @Model.CheckPoint.DistanceInKilometers.ToString("F1") miles</p>
            <p style="text-align: left;">
                Links:
                <a href="http://www.google.com/maps/place/@Model.CheckPoint.Latitude,@Model.CheckPoint.Longitude?zoom=1" target="_blank">Milestone in Google Maps</a>
                @if (!string.IsNullOrWhiteSpace(Model.CheckPoint.Url))
                {
                    <a href="@Model.CheckPoint.Url" target="_blank">Milestone Website</a>
                }
            </p>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.CheckPoint.DigitalBadge))
        {
            <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
                <h2>Collect your digital badge!</h2>
                <img src="@Model.CheckPoint.DigitalBadge" alt="@Model.CheckPoint.Title" style="width: 100%; max-width: 600px; height: auto;" />
                <p style="text-align: left;">You can click <a href="@Model.CheckPoint.DigitalBadge" download="@Model.CheckPoint.DigitalBadgeName">here</a> to download your badge.</p>
            </div>
        }
        <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
            <h2>Your Journey to Date</h2>
            <p style="text-align: left;">You have skated @Model.TotalMiles.ToString("F1") of your @Model.TargetCheckPoint.DistanceInKilometers.ToString("F1") kilometer goal to skate the Leeds Challenge to @Model.TargetCheckPoint.ToString().</p>
            <p style="text-align: left;">This means that there is total of @Model.TotalMilesRemaining.ToString("F1") miles remaining on your journey. If this distance feels too great, perhaps you could think about the distance remaining to your next milestone instead?</p>
        </div>
        @if (Model.NextCheckPoint != null)
        {
            <div style="padding: 20px 5% 20px 5%; margin-bottom: 10px; border-radius: 10px; background-color: #FFFFFF; max-width: 600px;">
                <h2>Your Next Milestone</h2>
                <p style="text-align: left;">Your next milestone is at @Model.NextCheckPoint.Title, you need to skate a further @Model.NextCheckPointMilesRemaining.ToString("F1") miles to reach this milestone.  You can do this!</p>
            </div>
        }
    </center>
</body>
</html>
