@model AllInSkateChallenge.Features.Skater.PersonalStatistics.PersonalStatisticsViewModel

@if (Model.ShowPersonalStatistics)
{
    <div class="personal-statistics row">
        <div class="col-md-12">
            <div class="card border-allin-green mb-3">
                <h5 class="card-header bg-allin-green text-dark">@Model.Title</h5>
                @if (Model.ShowElevations)
                {
                    <div class="card-body row py-2">
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Lowest Elevation</span><br />
                            <span>@Model.LowestElevationMetres.ToString("F2") Metres</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Highest Elevation</span><br />
                            <span>@Model.HighestElevationMetres.ToString("F2") Metres</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Greatest Elevation Gain</span><br />
                            <span>@Model.GreatestElevationGainMetres.ToString("F2") Metres</span>
                        </div>
                    </div>
                }
                @if (Model.ShowDistance)
                {
                    <div class="card-body row py-2">
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Shortest Distance</span><br />
                            <span>@Model.ShortestDistanceKilometres.ToString("F2") Kilometres</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Longest Distance</span><br />
                            <span>@Model.LongestDistanceKilometres.ToString("F2") Kilometres</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Total Distance</span><br />
                            <span>@Model.TotalDistanceKilometres.ToString("F2") Kilometres</span>
                        </div>
                    </div>
                }
                @if (Model.ShowSpeed)
                {
                    <div class="card-body row py-2">
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Best Average Speed</span><br />
                            <span>@Model.BestAverageSpeedKph.ToString("F2") KPH</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Best Top Speed</span><br />
                            <span>@Model.BestTopSpeedKph.ToString("F2") KPH</span>
                        </div>
                        <div class="col-sm-4">
                            <span class="font-weight-bold">Number of Sessions</span><br />
                            <span>@Model.NumberOfSessions.ToString("F0") Sessions</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}