@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.Updates.LatestUpdatesViewModel>

@{
    Layout = "_PageViewModelLayout";
}

<div class="col-xl-12 mb-3">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Skater</th>
                <th scope="col" class="mobile-hidden">Journey</th>
                <th scope="col">Logged</th>
                <th scope="col">Miles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.Content.LatestUpdates)
            {
                <tr>
                    <td class="align-middle">
                        <picture>
                            <source media="(min-width:576px)" srcset="@entry.GravatarUrl?s=48">
                            <source srcset="@entry.GravatarUrl?s=28">
                            <img src="@entry.GravatarUrl?s=28" alt="@entry.Skater Gravatar Profile Image" class="leaderboard-profile" />
                        </picture>
                        @entry.Skater
                    </td>
                    @if (!string.IsNullOrWhiteSpace(entry.JourneyName))
                    {
                        <td class="align-middle mobile-hidden">@entry.JourneyName</td>
                    }
                    else
                    {
                        <td class="align-middle mobile-hidden">&nbsp;</td>
                    }
                    <td class="align-middle">@entry.Logged.ToString("dd/MM/yyyy")</td>
                    <td class="align-middle">@entry.Miles.ToString("F2")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Page Navigation">
    <ul class="pagination">
        @if (Model.Content.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="LatestUpdates" asp-action="Index" asp-route-page="@(Model.Content.CurrentPage - 1)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        }
        @for (var pageNo = 1; pageNo <= Model.Content.MaxPages; pageNo++)
        {
            <li class="page-item @(pageNo.Equals(Model.Content.CurrentPage) ? "active" : "")">
                <a class="page-link" asp-controller="LatestUpdates" asp-action="Index" asp-route-page="@pageNo">@pageNo</a>
            </li>
        }
        @if (Model.Content.CurrentPage < Model.Content.MaxPages)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="LatestUpdates" asp-action="Index" asp-route-page="@(Model.Content.CurrentPage + 1)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>