@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.LeaderBoard.LeaderBoardModel>

@{
    Layout = "_PageViewModelLayout";
}

@functions{
    string GetPositionClass(int position)
    {
        switch (position)
        {
            case 1:
                return "leaderboard-position leaderboard-position--first";
            case 2:
                return "leaderboard-position leaderboard-position--second";
            case 3:
                return "leaderboard-position leaderboard-position--third";
            default:
                return "leaderboard-position";
        }
    }
}

@if (!Model.HasPaid)
{
    <div class="row">
        <div class="col-xl-12">
            <div class="alert alert-warning" role="alert">
                Please note that ALL IN has either not yet recieved or not yet processed your Skate Challenge entry fee. Your progress will not be visible in the leader board until then.
            </div>
        </div>
    </div>
}

<div class="row mt-3">
    @if (Model.Content.Entries != null && Model.Content.Entries.Any())
    {
        <div class="col-xl-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Skater</th>
                        <th scope="col">Total Distance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in Model.Content.Entries)
                    {
                        <tr>
                            <td class="align-middle"><span class="@GetPositionClass(entry.Place)">@entry.Place</span></td>
                            <td class="align-middle"><img class="leaderboard-profile" src="@entry.GravatarUrl?s=48" alt="@entry.Name" /> @entry.Name</td>
                            <td class="align-middle">@entry.TotalMiles.ToString("F2") miles</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
