@model AllInSkateChallenge.Features.Framework.Models.PageViewModel<AllInSkateChallenge.Features.Home.HomePageViewModel>

@{
    Layout = "_PageViewModelLayout";
}

@functions{
    string GetPositionClass(int position)
    {
        switch (position)
        {
            case 1:
                return "leaderboard-position leaderboard-position--first";
            case 2:
                return "leaderboard-position leaderboard-position--second";
            case 3:
                return "leaderboard-position leaderboard-position--third";
            default:
                return "leaderboard-position";
        }
    }
}

<div class="row">
    <div class="col-xl-12">
        @if (!Model.IsLoggedIn)
        {
            <div class="card mt-3 mb-3 border-allin-green">
                <h5 class="card-header bg-allin-green">Register for the Skate Challenge</h5>
                <div class="card-body">
                    <p class="card-text">Register now to join the ALL IN Skate Challenge and begin your virtual journey along the Leeds Liverpool Canal.</p>
                    <p class="card-text">We understand that 127.5 miles is a long distance to commit to, you can always aim for one of the other awesome milestones along the Leeds Liverpool Canal if you are looking for something a bit shorter.</p>
                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register as a new challenger</a>
                </div>
            </div>
        }

        <img src="~/images/AllInSkateMapOnly.png" style="max-width: 100%;" />
    </div>
</div>

<div class="row mt-3">
    @if (Model.Content.LeaderBoard != null && Model.Content.LeaderBoard.Any())
    {
        <div class="col-xl-6">
            <h2>Leader Board</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Skater</th>
                        <th scope="col">Total Distance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in Model.Content.LeaderBoard)
                    {
                        <tr>
                            <td class="align-middle"><span class="@GetPositionClass(entry.Place)">@entry.Place</span></td>
                            <td class="align-middle"><img class="leaderboard-profile" src="@entry.GravatarUrl?s=48" alt="@entry.Name" /> @entry.Name</td>
                            <td class="align-middle">@entry.TotalMiles.ToString("F2") miles</td>
                        </tr>
                    }
                </tbody>
            </table>
            <a asp-controller="LeaderBoard" asp-action="Index" class="btn btn-primary">See entire leaderboard</a>
        </div>
    }

    @if (Model.Content.LatestUpdates != null && Model.Content.LatestUpdates.Any())
    {
        <div class="col-xl-6">
            <h2>Latest Journeys</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Skater</th>
                        <th scope="col">Logged</th>
                        <th scope="col">Distance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entry in Model.Content.LatestUpdates)
                    {
                        <tr>
                            <td class="align-middle"><img class="leaderboard-profile" src="@entry.GravatarUrl?s=48" alt="@entry.Skater" /> @entry.Skater</td>
                            <td class="align-middle">@entry.Logged.ToString("dd/MM/yyyy HH:mm")</td>
                            <td class="align-middle">@entry.Miles.ToString("F2") miles</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>